{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
            <h2 class="texte4">Panier</h2>
    </div>

    {% for order in orders %}
    <div class="row">
        <div class="col-auto ml-auto">
            <img src="{{order.product.thumbnail.url}}" alt="{{order.product.name}}" style = "max-width: 400px; margin-top: 50px">
        </div>

        <div class="col-6">
            <h2 class="texte7" style = "margin-top: 40px">{{order.product.name}}</h2>
            <p class="texte8">Quantité commandée : {{ order.quantity }}</p>
        </div>
    </div>
    {% endfor %}

    <div class="row justify-content-center">
        <div class="col">
            <a class="btn btn-custom" href="{% url 'delete-cart' %}" role="button" style="margin-top: 30px; margin-bottom: 50px">Vider le panier</a>
        </div>
    </div>
</div>
{% endblock %}